---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <button
      popovertarget="popover"
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 bg-blue-600 py-2 px-6 rounded-md text-white shadow-lg shadow-blue-400"
      >Toggle the popover</button
    >
  </body>
</html>
